/*reset meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
 body { line-height: 1; } 
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* body */
body{
	font-size: 14px;
	line-height: 17px;
}
.img-responsive{
	max-width: 100%;
	height: auto;
	display: inline-block;
}
.align-center{ text-align: center; }

/* all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s */

/* def's */
.section_title{
	display: 	inline-block;
	position: relative;
	padding-bottom: 15px;
	margin-top: 150px;
	margin-bottom: 65px;

	color: #353535;
	font-size: 42px;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 42px;
  font-family: 'ProximaNovaBold';
}
	.section_title:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background: #4de084;
	}
.aftertitle_text{
	margin-bottom: 65px;

	font-size: 24px;
  color: #000000;
  line-height: 36px;
  font-family: 'ProximaNovaLight';
}


/*=== main menu ===*/
#menu{
	float: right;
	margin-top: 23px;
}

#menu a{
	font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'ProximaNovaBold';
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;

  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  
}
	#menu a:hover{
		color: #4DE084;
	}
	#menu li{
		float: left;
		margin-left: 50px;
	}

/*=== first section ===*/
#first{
	height: 700px;
	padding-bottom: 200px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 40px;

	background: url('images/header-bg.jpg') no-repeat 50% 0;
	background-attachment: fixed;
	
	background-size: cover;
}
	#first .clearfix{
		width: 100%;
	}
	#first .logo{
		display: block;
		width: 80px;
		float: left;
	}
	#first h1,
	#first h2{
		text-transform: uppercase;
    line-height: 72px;
	}
	#first h1{
		margin-top: 160px;

		font-family: 'ProximaNovaBold';
		color: #4DE084;
		font-size: 72px;
		letter-spacing: 15px;
	}
	#first h2{
		color: #fff;
		font-size: 26px;
		letter-spacing: 1px;
		font-family: 'ProximaNovaSemiBold';
	}
	#first .btn{
		margin-top: 75px;
	}

/*=== section second ===*/
#second h3{
	margin-bottom: 65px;

	font-family: 'ProximaNovaLight';
	font-weight: 300;
	font-size: 32px;
	color: #7F7F7F;
}
#second i{
	color: #4DE084;
	font-size: 100px;
}
#second p{
	padding: 35px 0px;
	
	font-family: 'ProximaNovaReg';
	color: #4F4F4F;
	font-size: 18px;
	font-weight: 400;
}
#second .item{
	margin-bottom: 30px;
}

/*===  section third ===*/
#third .section_title{
	margin-top: 85px;
}
.project{
  width: 100%;
}
	/* project bgs */
	.project.apc{
		background: url('images/apc-bg.jpg') no-repeat 50% 0;
		background-size: cover;
	}
	.project.ballistix_igromir{
		background: url('images/blstx-igrmr-bg.jpg') no-repeat 50% 0;
		background-size: cover;	
	}
	.project.ballistix_gaming{
		background: url('images/blstx-bg.jpg') no-repeat 50% 0;
		background-size: cover;	
	}
	.project.wot{
		background: url('images/wg-bg.jpg') no-repeat 50% 0;
		background-size: cover;	
	}
	.project.anox{
		background: url('images/anox-bg.jpg') no-repeat 50% 0;
		background-size: cover;	
	}
	.project.battlenation{
		background: url('images/bn-bg.jpg') no-repeat 50% 0;
		background-size: cover;	
	}
	.project.onegame{
		background: url('images/1g-bg.jpg') no-repeat 50% 0;
		background-size: cover;	
	}
	/* project items */
	.project header{
		height: 250px;

		display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
	}
	.project h3{
		font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    line-height: 67px;
    font-family: 'ProximaNovaBold';
    font-weight: 700;
    color: #fff;
	}
	.project header p{
		font-size: 16px;
		line-height: 19px;
    font-family: 'ProximaNovaReg';
    font-weight: 400;
    color: #fff;
	}
	.project .content{
		padding-bottom: 50px;
		color: #EDEDED;
    font-family: 'ProximaNovaLight';
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
	}

  .project header div:nth-child(even){
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .project header div:nth-child(odd){
    
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
