/*reset meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
 body { line-height: 1; } 
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* animation */
@keyframes sticky {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: none;
  }
}

/* body */
html,
body{
  overflow-x: hidden;
}
body{
	font-size: 14px;
	line-height: 17px;
}
.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}
.align-center{ text-align: center; }

/* all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s */

/* def's */
.section_title{
	display: 	inline-block;
	position: relative;
	padding: 0 15px 15px;
	margin-top: 150px;
	margin-bottom: 65px;

	color: #353535;
	font-size: 42px;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 42px;
  font-family: 'ProximaNovaBold';
}
	.section_title:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		background: #4de084;
	}
.aftertitle_text{
	margin-bottom: 65px;
  padding: 0 15px;

	font-size: 24px;
  color: #000000;
  line-height: 36px;
  font-family: 'ProximaNovaLight';
}
  .aftertitle_text span{
    color: #4DE084;
  }
@media(max-width: 767px){
  .section_title{
    letter-spacing: 2px;
    font-size: 35px;
  }
  .aftertitle_text{
    font-size: 18px;
    line-height: 27px;
  }
}
/* header wrapper */
.header_wrapper{
  height: 100px;
  line-height: 100px;
  padding: 0 50px;
  width: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 1000;
  
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
  .header_wrapper.fixed{
    position: fixed;
    top: 0;
    background: rgba(0,0,0, .9);
    animation-name: sticky;
    animation-duration: 0.3s;
  }
  @media(max-width: 991px){
    .header_wrapper{
      position: fixed;
      top: 0;
      padding: 0 15px;
      background: rgba(0,0,0, .9);
      animation-name: sticky;
      animation-duration: 0.3s;   
    }
  }

/* mobile lang */
.mobile_lang{
  float: right;
  margin-right: 55px;
}
  .mobile_lang a:first-child{
    margin-right: 15px;
  }

/* mobile_toggle_btn */
.mobile_toggle_btn{
  display: none;
  cursor: pointer;

  position: absolute;
  top: 38px;
  right: 15px;
  
  float: right;
  width: 30px;

  font-size: 20px;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
  .mobile_toggle_btn span{
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;

    background: #4DE084;
  }
  .mobile_toggle_btn.open{
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
  @media(max-width: 991px){
    .mobile_toggle_btn{
      display: block;
    }
  }

/*=== main menu ===*/
#menu{
	float: right;
}
#menu span,
#menu a,
.mobile_lang a{
	font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'ProximaNovaBold';
  font-weight: 600;
  line-height: 19px;
  text-decoration: none;
  cursor: pointer;

  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  
}
	#menu span:hover,
  #menu a:hover,
  #menu span.active,
  .mobile_lang a:hover{
		color: #4DE084;
	}
	#menu li{
		float: left;
		margin-left: 50px;
	}

#menu div{
  margin-top: 30px;
  padding-right: 25px;
  height: 38px;
  position: relative;
  cursor: pointer;
}
  #menu div:hover a{
    opacity: 1;
    visibility: visible;
  }
  #menu div .arrow{
    position: absolute;
    top: 19px;
    right: 0px;
    width: 14px;
    height: 8px;
    margin-top: -4px;
  }
  #menu div a{
    line-height: 38px;
    padding-left: 50px;
    display: block;
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
    #menu div a:first-child{
      opacity: 1;
      visibility: visible;
      border-left: 1px solid rgba(255,255,255, .25);
    }
  @media(max-width: 991px){
    #menu{
      display: none;
      width: 100%;
    }
    #menu li{
      margin: 0;
      text-align: center;
      width: 100%;
      line-height: 50px;
    }
  }
/*=== first section ===*/
#first{
	height: 700px;

	background: url('images/header-bg.jpg') no-repeat 50% 0;
	background-attachment: fixed;
	
	background-size: cover;
}
  #first .align-center{
    display: flex;
    text-align: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
	#first .logo{
		display: block;
		width: 80px;
		float: left;
    margin-top: 20px;
	}
  #first .logo_text{
    float: left;
    display: none;
    margin-left: 15px;

    color: #4DE084;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'ProximaNovaSemiBold';
  }
	#first h1,
	#first h2{
		text-transform: uppercase;
    line-height: 72px;
	}
	#first h1{
		font-family: 'ProximaNovaBold';
		color: #4DE084;
		font-size: 72px;
		letter-spacing: 15px;
	}
	#first h2{
		color: #fff;
		font-size: 26px;
		letter-spacing: 1px;
		font-family: 'ProximaNovaSemiBold';
	}
	#first .btn{
		margin-top: 75px;
	}
  @media(max-width: 991px){
    .logo_text{
      display: none !important;
    }
  }
  @media(max-width: 767px){
    #first h1{
      letter-spacing: 2px;
      font-size: 40px;
    }
    #first h2{
      line-height: 32px;
    }
  }
/*=== section second ===*/
#second h3{
	margin-bottom: 65px;

	font-family: 'ProximaNovaLight';
	font-weight: 300;
	font-size: 32px;
  line-height: 32px;
	color: #7F7F7F;
}
#second i{
	color: #4DE084;
	font-size: 100px;
}
#second p{
	padding: 35px 0px;
	
	font-family: 'ProximaNovaReg';
	color: #4F4F4F;
	font-size: 18px;
	font-weight: 400;
}
#second .item{
	margin-bottom: 30px;
}

/*===  section third ===*/
.projects_wrapper{
  background-color: #000;
}
.project{
  width: 100%;
  /*opacity: .7;*/

  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -ms-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
  .project:hover{
    opacity: 1;
  }
	/* project bgs */
	.project.apc{
		background: url('images/apc-bg.jpg') no-repeat 50% 0;
		/*background-size: cover;*/
	}
	.project.ballistix_igromir{
		background: url('images/blstx-igrmr-bg.jpg') no-repeat 50% 0;
		/*background-size: cover;	*/
	}
	.project.ballistix_gaming{
		background: url('images/blstx-bg.jpg') no-repeat 50% 0;
		/*background-size: cover;	*/
	}
	.project.wot{
		background: url('images/wg-bg.jpg') no-repeat 50% 0;
		/*background-size: cover;	*/
	}
	.project.anox{
		background: url('images/anox-bg.jpg') no-repeat 50% 0;
		/*background-size: cover;	*/
	}
	.project.battlenation{
		background: url('images/bn-bg.jpg') no-repeat 50% 0;
		/*background-size: cover;	*/
	}
	.project.onegame{
		background: url('images/1g-bg.jpg') no-repeat 50% 0;
		/*background-size: cover;	*/
	}
	/* project items */
	.project header{
		height: 250px;

		display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
	}
	.project h3{
		font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    line-height: 67px;
    font-family: 'ProximaNovaBold';
    font-weight: 700;
    color: #fff;
	}
	.project header p{
		font-size: 16px;
		line-height: 19px;
    font-family: 'ProximaNovaReg';
    font-weight: 400;
    color: #fff;
	}
	.project .content{
		padding-bottom: 50px;
    display: none;

		color: #EDEDED;
    font-family: 'ProximaNovaLight';
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    text-align: left;
	}

  .project header div:nth-child(even){
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .project header div:nth-child(odd){
    
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  @media(max-width: 991px){
    .project header{
      flex-direction: column;
    }
    .project .col-md-6{
      margin-top: 25px;
    }
  }

/*=== section four ===*/
#four{
  position: relative;
}
.fake_line{
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 3px;
  background: #4de084;
}
/* employee */
.employee{
  padding: 0 15px 65px;
  position: relative;
}
  .employee.middle{
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
  }
    
  .employee h2{
    padding-top: 25px;

    font-size: 32px;
    color: #353535;
    text-transform: uppercase;
    line-height: 48px;
    font-family: 'ProximaNovaBold';
  }
  .employee span{
    display: inline-block;
    margin-bottom: 25px;
    margin-top: 15px;

    color: #4F4F4F;
    font-size: 22px;
    font-weight: 300;
    line-height: 33px;
    font-family: 'ProximaNovaLight';

  }
  .employee p{
    margin-bottom: 25px;

    font-size: 18px;
    color: #000000;
    line-height: 27px;
    font-family: 'ProximaNovaLight';
    font-weight: 300;
  }
  .employee div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .employee img{
    display: inline-block;
    margin: 0 10px;
  }

@media(max-width: 991px){
  .profile_img{
    margin: 0 auto;
    position: relative;
  }
  .employee:before{
    content: '';
    height: 3px;
    background: #4de084;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .employee.middle{
    border: 0;
  }
}

/*=== section fifth ===*/
#fifth{
  min-height: 874px;
  background-color: #202020;
}
  #fifth .aftertitle_text,
  #fifth .section_title{
    color: #fff;
  }

  .contacts_form{
    color: #fff;
  }
  @media(max-width: 991px){
    #fifth{
      padding-bottom: 30px;
    }
  }

/* form */
.form_controller{
  width: 100%;
  margin-bottom: 30px;
  border: 0;
  outline: 0;
  
  border-radius: 7px;
  padding: 21px 12px 19px 61px;  
  min-height: 22px;

  color: #353535;

  font-family: 'ProximaNovaLight';
  font-size: 18px;
  font-weight: 300;

  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;

  opacity: .9;
  background-repeat: no-repeat;
  background-position: 20px 50%;
}
  .form_controller:hover,
  .form_controller:focus{
    opacity: 1;
  }
  .form_controller.name{
    background-image: url('images/contacts-name.svg');
  }
  .form_controller.mail{
    background-image: url('images/contacts-email.svg');
  }
  .form_controller.phone{
    background-image: url('images/contacts-phone.svg');
  }
  .form_controller.message{
    background-image: url('images/contacts-message.svg');
  }
  textarea.form_controller{
    padding-bottom: 5px;
    background-position: 20px 20px;
  }
  
form .btn{
  float: right;
  background: inherit;
}


/*=== footer ===*/
#footer{
  padding: 0 15px;

  text-align: left;
  min-height: 95px;
  line-height: 95px;
  background-color: #181818;
}
  #footer .copy{
    font-family: 'ProximaNovaLight';
    opacity: .25;

    font-size: 16px;
    font-weight: 300;
    color: #fff;
  }
  #footer .gotop{
    opacity: .4;
    cursor: pointer;

    color: #fff;

    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  }
    #footer .gotop:hover{
      opacity: 1;
    }
    #footer .gotop i{
      font-size: 20px;
    }    
  @media(max-width: 767px){
    #footer{
      text-align: center;
      line-height: 50px;
    }
    #footer .copy{
      margin-top: 15px;
      line-height: 25px;
    }
    #footer .copy,
    #footer .gotop{
      float: none !important;
    }
  }
